APP_ENV=development
APP_PORT=8080

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_PORT=5432
DB_SSLMODE=disable

JWT_SECRET=secret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=168h

RESEND_API_KEY=your-resend-api-key
EMAIL_FROM=example@you-domain.com

SANITY_WEBHOOK_SECRET=testing-webhook

SERVICE_SECRET=dev-insecure-service-secret

FRONTEND_BASE_URL=http://localhost:3000
